[project]
name = "llm-tool-call-sft"
version = "0.0.1"
dependencies = []

[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[tool.setuptools]
package-dir = {"" = "src"}
packages = ["car_sales", "trainer"]
